doctype html  
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Generate a ASCII art from text")
    meta(name="keywords" content="ASCII,ASCII Generator,ASCII-Generator,signature,email, text hack")
    meta(name="keywords" content="ascii art,ascii converter,ascii art generator,generator,figlet generator")
    meta(name="keywords" content="convert,converter text to ascii art,ascii online generator")
    meta(name="keywords" content="word generator,converter")
    title Ascii Art Generator
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Raleway+Dots" rel="stylesheet")
    link(rel="stylesheet", href="style.css")
  body
    header
        h1.container #{title}
    div.container
        form(action="")
            input(type="text" name="s" placeholder="Text"  value=`${text}`)
            select( name="style")
                each font in fonts
                    option( selected=( font== style)) #{font}
            button Go
        pre#output #{output}
        button#copyClipboard(title="Copy to Clipboard") Copy
    footer Build with all the ❤️ in the world By Sarath

    script.
     document.addEventListener('DOMContentLoaded', function() {

         var copyButton = document.getElementById('copyClipboard');
         copyButton.addEventListener('click',copyClipboard);

     })

     function copyClipboard() {

        var outputText = document.getElementById("output");
        var _temp = document.createElement('textarea');
        _temp.setAttribute('type','text');
        _temp.value = outputText.textContent;
        document.body.appendChild(_temp);
        _temp.select();
        document.execCommand("Copy");
        _temp.remove();
        alert('Copied')
     }